/* Estilo general del formulario */
form {
    padding: 20px;
    border-radius: 10px;
}

/* Estilo para los inputs y selects */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
select {
    width: 100%;
    border: 1px;
    color: black;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;

}

/*Estilos para el botón*/
button[type="submit"] {
    width: 100%;
    background-color: lightblue;
    border: none;
    cursor: pointer;    
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

button[type="submit"]:hover {
    width: 150%;
    background-color: green;
    padding: 20px;
    border-radius: 8px;
}
