<div>
    <h1>Formulario de registro - Estíbaliz Cortés García</h1>
    <form (ngSubmit)="enviarDatos()">
        <div class="m-2">
            <label class="form-nombre">Nombre:</label>
            <input type="text" class="form-control" placeholder="Nombre" [(ngModel)] ="persona.nombre" name="nombre">
        </div>
        <div class="m-2">
            <label class="form-nombre">Apellido:</label>
            <input type="text" class="form-control" placeholder="Apellido" [(ngModel)] ="persona.apellido" name="apellido">
        </div>
        <div class="m-2">
            <label class="form-nombre">Correo:</label>
            <input type="email" class="form-control" placeholder="Correo" [(ngModel)] ="persona.correo" name="correo">
        </div>
        <div class="m-2">
            <label class="form-nombre">Contraseña:</label>
            <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)] ="persona.contrasena" name="contrasena">
        </div>
        <div class="m-2">
            <label class="form-nombre">Confirmar contraseña:</label>
            <input type="password" class="form-control" placeholder="Confirmar contraseña" [(ngModel)] ="persona.confirmarContrasena" name="confirmarContrasena">
        </div>
        <div class="m-2">
            <label class="form-nombre">Dirección:</label>
            <input type="text" class="form-control" placeholder="Dirección" [(ngModel)] ="persona.direccion" name="direccion">
        </div>
        <div class="m-2">
            <label class="form-nombre">Teléfono:</label>
            <input type="number" class="form-control" placeholder="Teléfono" [(ngModel)] ="persona.telefono" name="telefono">
        </div>
        <div class="m-2">
            <label class="form-nombre">Fecha de nacimiento:</label>
            <input type="date" class="form-control" placeholder="Fecha de nacimiento" [(ngModel)] ="persona.fechaNacimiento" name="fechaNacimiento">
        </div>
        <div class="m-2">
            <label class="form-nombre">Género:</label>
            <select class="form-control" [(ngModel)] ="persona.genero" name="genero">
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
                <option value="otro">Otro</option>
            </select>
        </div>
        <div class="m-2">
            <label class="form-nombre">Estado civil:</label>
            <select class="form-control" [(ngModel)] ="persona.estadoCivil" name="estadoCivil">
                <option value="soltero">Soltero</option>
                <option value="casado">Casado</option>
                <option value="divorciado">Divorciado</option>
                <option value="viudo">Viudo</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary m-2">Enviar</button>
    </form>
</div>