<h1>DIRECTIVAS ESTRUCTURALES</h1>    
<h2>*ngFor: Mostrar una lista</h2>
<ul>
<li *ngFor="let fruta of frutas">{{ fruta }}</li>
</ul>

<h2>*ngFor con índice: Mostrar una lista con índice de alumnos</h2>
<ul>
<li *ngFor="let alumno of alumnos; let i = index">
    {{ i + 1 }}. {{ alumno }}
</li>
</ul>

<h1>DIRECTIVAS DE ATRIBUTO</h1> 
<h2>[ngStyle]: Cambiar color del texto</h2>                              
<p [ngStyle]="{ 'color': textColor }">Este texto es de color azul</p>

<h2>[style.fontSize]: Cambiar tamaño del nombre del centro</h2>
<input type="range" [(ngModel)]="fontSize" min="10" max="50" />
<p [style.fontSize.px]="fontSize"> IES Al-Mudeyne</p>