h1 {
    text-align: center;
    color: green;
    font-size: 36px;
    margin-top: 30px;
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    color: black;
    margin-top: 20px;
    font-weight: bold;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

p {
    font-size: 18px;
    margin-top: 10px;
}

ul {
    padding-left: 20px;
}

ul li {
    font-size: 18px;
    margin-top: 5px;
}

.active {
    font-weight: bold;
    color: green;
}

div {
    margin-top: 20px;
}