<div *ngIf="vistaActual === ' '">
    <button (click)="mostrarContenido('btn1')">Directivas</button>
    <button (click)="mostrarContenido('btn2')">Formulario Estibaliz</button>
    <button (click)="mostrarContenido('btn3')">Formulario Paco</button>
    <button (click)="mostrarContenido('btn4')">Formulario David</button>
    <button (click)="mostrarContenido('btn5')">Semana 5</button>
</div>

<div *ngIf="vistaActual === 'btn1'">
  <app-directiva></app-directiva>
</div>
<div *ngIf="vistaActual === 'btn2'">
  <app-formulario-estibaliz></app-formulario-estibaliz>
</div>
<div *ngIf="vistaActual === 'btn3'">
  <app-formulario-paco></app-formulario-paco>
</div>
<div *ngIf="vistaActual === 'btn4'">
  <h1>Botón 4 funciona</h1>
</div>
<div *ngIf="vistaActual === 'btn5'">
  <h1>Botón 5 funciona</h1>
</div>