<div *ngIf="vistaActual === ' '">
    <button (click)="mostrarContenido('btn1')">Semana 1</button>
    <button (click)="mostrarContenido('btn2')">Semana 2</button>
    <button (click)="mostrarContenido('btn3')">Semana 3</button>
    <button (click)="mostrarContenido('btn4')">Semana 4</button>
    <button (click)="mostrarContenido('btn5')">Semana 5</button>
</div>

<div *ngIf="vistaActual === 'btn1'">
  <app-directiva></app-directiva>
</div>
<div *ngIf="vistaActual === 'btn2'">
  <app-formulario-estibaliz></app-formulario-estibaliz>
</div>
<div *ngIf="vistaActual === 'btn3'">
  <h1>Botón 1 funciona</h1>
</div>
<div *ngIf="vistaActual === 'btn4'">
  <h1>Botón 1 funciona</h1>
</div>
<div *ngIf="vistaActual === 'btn5'">
  
</div>